n8n/AUTOMA.json
{
  "name": "AUTOMA",
  "nodes": [
    {
      "parameters": {
        "command": "=CONTEXT_FILE=\"/data/gamegen/context\"\nDIR=\"/data/gamegen/context/queque\"\nPROMPT_FILE_PATH=\"/home/node/python/prompt.txt\"\nPROMPT_FILE_PATH_EXEC=\"/home/node/python/prompt_exec.txt\"\n\n# Crear la carpeta si no existe\nif [ ! -d \"$DIR\" ]; then\n    mkdir -p \"$DIR\"\nfi\n\n# Crear archivo con fecha y hora actual\nFILENAME=\"$(date '+%Y-%m-%d_%H-%M-%S')-$RANDOM.txt\"\n\n# Escribir directamente al archivo\ncat <<EOF > \"$DIR/$FILENAME\"\nINTRUCTION\n$(cat \"$PROMPT_FILE_PATH\")\n\nRESULT\n$(cat \"$PROMPT_FILE_PATH_EXEC\")\nEOF\n\ncat <<EOF > \"$PROMPT_FILE_PATH\"\nOUTPUT:\n$(cat \"$PROMPT_FILE_PATH_EXEC\")\nEOF\n\nDIR_RESUME=\"/data/gamegen/context/message\"\n# Crear la carpeta si no existe\nif [ ! -d \"$DIR_RESUME\" ]; then\n    mkdir -p \"$DIR_RESUME\"\nfi\n\necho \"iteration {{ $runIndex }}\"\necho \"\"\n\nfor archivo in \"$DIR_RESUME\"/*; do\n  # Verifica que sea un archivo (y no una subcarpeta)\n  if [ -f \"$archivo\" ]; then\n      cat \"$archivo\"\n      rm -f \"$archivo\"\n      echo \"\" # Imprime el salto de línea extra\n  fi\ndone\n\n\n\n"
      },
      "name": "quequeContext",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -240,
        48
      ],
      "id": "e6694c4c-dcb2-45be-b7f5-45226ae23a25",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# Motor de IA\n### Se encarga de mantener vivo las consultas para la IA",
        "height": 640,
        "width": 3040,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2560,
        -16
      ],
      "typeVersion": 1,
      "id": "eb1e28c1-42cc-488d-ada8-d7f4dc32bbcb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "\n# TODO:\n1 - continue\n2 - reset\n3 - new chat IA"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2896,
        144
      ],
      "typeVersion": 1,
      "id": "4a07cb11-4ad8-4273-9bdd-1be04d8c663b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a0dab81f-ad8e-467a-8052-5237146c1056",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1216,
        176
      ],
      "id": "cd5c0c85-947c-4802-b1d6-6df576133acc",
      "name": "If1"
    },
    {
      "parameters": {
        "command": "=#!/usr/bin/env bash\n\n# Robusto: si algo falla, NO rompemos el nodo; devolvemos \"true\"\n# y dejamos el error registrado dentro del prompt.\nset -u\nset -o pipefail\n\nPROCESS_NAME=\"PromptRouter\"\nPROMPT_FILE_PATH=\"/home/node/python/prompt.txt\"\n\nCTX_INITIAL=\"/prompt/initial.txt\"\nCTX_CONTINUE=\"/prompt/continue.txt\"\n\nSHOULD_CONTINUE=\"true\"\nMODE=\"DEFAULT\"\n\n# --- helpers ---\nnow_iso() { date -u +\"%Y-%m-%dT%H:%M:%SZ\"; }\n\nappend_error_to_prompt() {\n  local step=\"${1:-unknown_step}\"\n  local msg=\"${2:-unknown_error}\"\n\n  # Intento best-effort: si no se puede escribir, al menos seguimos.\n  {\n    echo\n    echo \"-----[ERROR]-----\"\n    echo \"timestamp: $(now_iso)\"\n    echo \"process: $PROCESS_NAME\"\n    echo \"step: $step\"\n    echo \"detail: $msg\"\n    echo \"note: Se devolvió SHOULD_CONTINUE=true para no romper el flujo.\"\n    echo \"-----------------\"\n    echo\n  } >> \"$PROMPT_FILE_PATH\" 2>/dev/null || true\n}\n\nfail_open() {\n  local step=\"$1\"\n  local msg=\"$2\"\n  append_error_to_prompt \"$step\" \"$msg\"\n  echo \"true\"\n  exit 0\n}\n\nsafe_cat() {\n  # Imprime el archivo si existe, si no imprime vacío (sin fallar).\n  local f=\"$1\"\n  if [ -f \"$f\" ]; then\n    cat \"$f\"\n  else\n    echo \"\"\n  fi\n}\n\n# --- prechecks ---\nmkdir -p \"$(dirname \"$PROMPT_FILE_PATH\")\" 2>/dev/null || fail_open \"mkdir_prompt_dir\" \"No se pudo crear el directorio de $PROMPT_FILE_PATH\"\n\n# Si prompt.txt no existe, lo creamos vacío para evitar fallos.\ntouch \"$PROMPT_FILE_PATH\" 2>/dev/null || fail_open \"touch_prompt\" \"No se pudo crear/asegurar $PROMPT_FILE_PATH\"\n\n# Leemos el contenido completo del prompt\nINPUT_MESSAGE=\"$(cat \"$PROMPT_FILE_PATH\" 2>/dev/null)\" || fail_open \"read_prompt\" \"No se pudo leer $PROMPT_FILE_PATH\"\n\n# Normalizamos para detección (sin reventar por locales raros)\nUPPER_MESSAGE=\"$(printf \"%s\" \"$INPUT_MESSAGE\" | tr '[:lower:]' '[:upper:]' 2>/dev/null || true)\"\n\n# --- detección de modo ---\n# Prioridad: FINISH > INITIAL > CONTINUE > DEFAULT\nif printf \"%s\" \"$UPPER_MESSAGE\" | grep -q 'FLOW_FINISH' 2>/dev/null; then\n  MODE=\"FINISH\"\n  SHOULD_CONTINUE=\"false\"\nelif printf \"%s\" \"$UPPER_MESSAGE\" | grep -q 'FLOW_INITIAL' 2>/dev/null; then\n  MODE=\"INITIAL\"\nelif printf \"%s\" \"$UPPER_MESSAGE\" | grep -q 'FLOW_CONTINUE' 2>/dev/null; then\n  MODE=\"CONTINUE\"\nelse\n  MODE=\"DEFAULT\"\nfi\n\n# Limpieza del keyword SOLO para INITIAL/CONTINUE\n# (quitamos la palabra clave donde aparezca, y limpiamos espacios iniciales)\nCLEAN_MESSAGE=\"$INPUT_MESSAGE\"\nif [ \"$MODE\" = \"INITIAL\" ]; then\n  CLEAN_MESSAGE=\"$(printf \"%s\" \"$INPUT_MESSAGE\" | sed -e 's/FLOW_INITIAL//Ig' -e 's/^[[:space:]]*//' 2>/dev/null || printf \"%s\" \"$INPUT_MESSAGE\")\"\nelif [ \"$MODE\" = \"CONTINUE\" ]; then\n  CLEAN_MESSAGE=\"$(printf \"%s\" \"$INPUT_MESSAGE\" | sed -e 's/FLOW_CONTINUE//Ig' -e 's/^[[:space:]]*//' 2>/dev/null || printf \"%s\" \"$INPUT_MESSAGE\")\"\nfi\n\n# --- construir prompt final ---\nTMP_OUT=\"$(mktemp 2>/dev/null)\" || fail_open \"mktemp\" \"No se pudo crear archivo temporal\"\ncleanup() { rm -f \"$TMP_OUT\" 2>/dev/null || true; }\ntrap cleanup EXIT\n\n{\n  case \"$MODE\" in\n    \"INITIAL\")\n      safe_cat \"$CTX_INITIAL\"\n      echo\n      printf \"%s\" \"$CLEAN_MESSAGE\"\n      ;;\n    \"CONTINUE\")\n      safe_cat \"$CTX_INITIAL\"\n      echo\n      safe_cat \"$CTX_CONTINUE\"\n      echo\n      printf \"%s\" \"$CLEAN_MESSAGE\"\n      ;;\n    \"FINISH\")\n      echo \"[FIN DE FLUJO]\"\n      echo \"No se requiere respuesta.\"\n      echo \"shouldContinue=false\"\n      ;;\n    \"DEFAULT\")\n      printf \"%s\" \"$CLEAN_MESSAGE\"\n      ;;\n  esac\n} > \"$TMP_OUT\" 2>/dev/null || {\n  append_error_to_prompt \"build_prompt\" \"Falló la construcción del prompt (MODE=$MODE).\"\n  echo \"true\"\n  exit 0\n}\n\n# Escritura atómica (evita archivos corruptos si algo muere a mitad)\nmv \"$TMP_OUT\" \"$PROMPT_FILE_PATH\" 2>/dev/null || {\n  append_error_to_prompt \"write_prompt\" \"No se pudo escribir en $PROMPT_FILE_PATH (MODE=$MODE).\"\n  echo \"true\"\n  exit 0\n}\n\n# --- salida mínima para n8n IF ---\necho \"$SHOULD_CONTINUE\"\nexit 0\n"
      },
      "name": "terminal1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1456,
        176
      ],
      "id": "88dd8694-f185-4cae-8522-ccde5a85a0d8",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1936,
        176
      ],
      "id": "89daf40f-fe24-47f9-b936-055209102c2e",
      "name": "chat",
      "webhookId": "13e346db-a58c-4761-b613-3abd74cdf050"
    },
    {
      "parameters": {
        "message": "={{ $json.stdout }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        208,
        48
      ],
      "id": "2ee2c422-cb8c-4ac4-91ff-446f0b316140",
      "name": "Respond to Chat3",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\n\nQUEUE_DIR=\"/data/gamegen/context/queque\"\n\n# Esperar hasta que la carpeta esté vacía\nwhile true; do\n    # Cuenta los archivos dentro del directorio (0 = vacío)\n    if [ -d \"$QUEUE_DIR\" ]; then\n        count=$(ls -1 \"$QUEUE_DIR\" 2>/dev/null | wc -l)\n    else\n        # Si no existe, la creamos y la consideramos vacía\n        mkdir -p \"$QUEUE_DIR\"\n        count=0\n    fi\n\n    if [ \"$count\" -eq 0 ]; then\n        # La carpeta está vacía → continuar\n        break\n    fi\n\n    sleep 1\ndone\n\n\n# --- Lógica actual para consumir y borrar archivos ---\n\nDIR_RESUME=\"/data/gamegen/context/message\"\n\n# Crear la carpeta si no existe\nif [ ! -d \"$DIR_RESUME\" ]; then\n    mkdir -p \"$DIR_RESUME\"\nfi\n\nfor archivo in \"$DIR_RESUME\"/*; do\n  # Verifica que sea un archivo (y no una subcarpeta)\n  echo \"resume:\"\n  if [ -f \"$archivo\" ]; then\n      cat \"$archivo\"\n      rm -f \"$archivo\"\n      echo \"\" # Imprime el salto de línea extra\n  fi\ndone"
      },
      "name": "iaContext1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -880,
        480
      ],
      "id": "f503bd4c-9d3b-404e-b1fe-7cd9d11af7a1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "message": "={{ $json.stdout }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -544,
        480
      ],
      "id": "66fa6ffc-fcc9-4ed0-8ccd-02101f1fbf0a",
      "name": "Respond to Chat",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "={{`\ncd /home/node/python;\nSOCKET_HOST=host.docker.internal\nSOCKET_PORT=7345\n`}}\n\npython3 cli.py send"
      },
      "name": "ia",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -864,
        160
      ],
      "id": "dd251575-ee61-4f60-bb43-630fb8c0f711",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "=#!/usr/bin/env bash\n\nDIR=\"/data/gamegen/context/queque\"\nPROMPT_FILE_PATH=\"/home/node/python/prompt.txt\"\n\n# Crear la carpeta si no existe\nif [ ! -d \"$DIR\" ]; then\n    mkdir -p \"$DIR\"\nfi\n\n# Crear archivo con fecha y hora actual\nFILENAME=\"$(date '+%Y-%m-%d_%H-%M-%S').txt\"\n\n# Escribir directamente al archivo\ncat <<EOF > \"$DIR/$FILENAME\"\nFirst process instructions from flow automa generator:\n\"\"\"\n{{ $json.chatInput }}\n\"\"\"\nEOF\n\ncat <<EOF > \"$PROMPT_FILE_PATH\"\n{{ $json.chatInput }}\nEOF\n\n# Init queue\n\nSCRIPT=\"/home/node/python/queue_watcher.py\"\n\nif pgrep -f \"python3 .*${SCRIPT}\" > /dev/null; then\n  echo \"queue_watcher.py ya está corriendo\"\n  exit 0\nfi\n\necho \"Iniciando queue_watcher.py en segundo plano...\"\nnohup python3 \"$SCRIPT\" > /home/node/python/queue_watcher.log 2>&1 &\n"
      },
      "name": "initWatcher",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1712,
        176
      ],
      "id": "8e3c7879-24d2-4b3b-b32d-9c5e30c035c5",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "=#!/usr/bin/env bash\n\nSCRIPT=\"/home/node/python/queue_watcher.py\"\n\nPIDS=$(pgrep -f \"python3 .*${SCRIPT}\")\n\nif [[ -z \"$PIDS\" ]]; then\n  echo \"queue_watcher.py no está corriendo\"\n  exit 0\nfi\n\necho \"Matando queue_watcher.py\"\necho \"PIDs: $PIDS\"\n\nkill $PIDS\nsleep 2\n\n# Fuerza si alguno sigue vivo\nkill -9 $PIDS 2>/dev/null || true\n\necho \"queue_watcher.py detenido\"\n"
      },
      "name": "killWatcher",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -256,
        480
      ],
      "id": "94bbc8e0-fb6a-4e69-a64c-1356bf3b69a7",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "=#!/usr/bin/env bash\n\nSCRIPT=\"/home/node/python/queue_watcher.py\"\n\nPIDS=$(pgrep -f \"python3 .*${SCRIPT}\")\n\nif [[ -z \"$PIDS\" ]]; then\n  echo \"queue_watcher.py no está corriendo\"\n  exit 0\nfi\n\necho \"Matando queue_watcher.py\"\necho \"PIDs: $PIDS\"\n\nkill $PIDS\nsleep 2\n\n# Fuerza si alguno sigue vivo\nkill -9 $PIDS 2>/dev/null || true\n\necho \"queue_watcher.py detenido\"\n"
      },
      "name": "killWatcher1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -896,
        672
      ],
      "id": "1aad8b42-1eff-45d8-8686-1c352e826d7e",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "=sleep 2\n\nif [ \"{{$runIndex}}\" = \"5\" ]; then\n  echo '{\"res\":{\"body\":\"cat > /home/node/projects/hola_mundo_py/main.py <<'\\''EOF'\\''\\n#!/usr/bin/env python3\\n\\n# -*- coding: utf-8 -*-\\n\\nANSI_RESET = \\\"\\\\033[0m\\\"\\nRAINBOW_SEQ = [\\\"\\\\033[31m\\\", \\\"\\\\033[33m\\\", \\\"\\\\033[32m\\\", \\\"\\\\033[36m\\\", \\\"\\\\033[34m\\\", \\\"\\\\033[35m\\\"]\\n\\ndef rainbow(text: str) -> str:\\n    out = []\\n    j = 0\\n    for ch in text:\\n        if ch == \\\"\\\\n\\\":\\n            out.append(ch)\\n            continue\\n        out.append(RAINBOW_SEQ[j % len(RAINBOW_SEQ)] + ch)\\n        j += 1\\n    out.append(ANSI_RESET)\\n    return \\\"\\\".join(out)\\n\\nif __name__ == \\\"__main__\\\":\\n    print(rainbow(\\\"Hola Mundo\\\"))\\nEOF\\n\\npython3 /home/node/projects/hola_mundo_py/main.py >> /home/node/python/prompt_exec.txt 2>&1\"}}\"\n\nelse\n  echo '{\"res\":{\"body\":\"python3 /home/node/python/context_cli.py files >> /home/node/python/prompt_exec.txt\"}}'\nfi"
      },
      "name": "ia1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1152,
        -256
      ],
      "id": "f623e6f8-8c0e-4410-88ce-48b50a2517a7",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "={{ $json.stdout }}"
      },
      "name": "terminalTest",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1456,
        -256
      ],
      "id": "cc2c1223-cf82-4980-8427-c3e9964653a7",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "=truncate -s 0 /home/node/python/prompt_exec.txt\n\n{{(()=>{\n    if($json?.stdout){\n    const body = JSON.parse($json.stdout).res.body;\n\n    if (body === \"FLOW_FINISH\") {\n        return 'echo \"FLOW_FINISH\" >> /home/node/python/prompt_exec.txt';\n    }\n    body.replace(\"FLOW_FINISH\", \"\")\n    return body\n        .replace(/\\r?\\n/g, '; ')   // elimina saltos de línea\n        .replace(/\\t/g, ' ')     // elimina tabs\n        .trim();                 // elimina espacios al inicio/fin\n} else {return $json.error}\n})()}}"
      },
      "name": "terminal",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -544,
        160
      ],
      "id": "8b532450-cf2b-4a5b-829c-c9ee832e1a26",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "command": "=SOCKET_HOST=host.docker.internal\nSOCKET_HOST_POCKET=7346\n\n#python3 /data/pocket/python/cli.py openOrder \"#AAPL_otc\" 1 call 5 1234 100 1\n\n#python3 /data/pocket/python/cli.py suscribeAssets \"#AAPL_otc\"\n\n#cat /data/pocket/faq/general.md \n\ncat /data/pocket/faq/data_explain.md\n\ncat /data/pocket/faq/logs/index.md"
      },
      "name": "operation",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -864,
        -256
      ],
      "id": "d961875f-a237-4f9b-9abf-c650682366db",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "=DIR=/home/node/python/prompt_exec.txt\n\ncat <<EEOOFF > \"$DIR\"\nError:\n{{ $json.error }}\n\nMore details:\n$(cat \"$DIR\")\nEEOOFF\n"
      },
      "name": "error",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -240,
        288
      ],
      "id": "318551a1-70a5-45d4-a125-f70e9cc9f3c7",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "quequeContext": {
      "main": [
        [
          {
            "node": "Respond to Chat3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "terminal1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "ia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "iaContext1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chat": {
      "main": [
        [
          {
            "node": "initWatcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat3": {
      "main": [
        [
          {
            "node": "terminal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iaContext1": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "initWatcher": {
      "main": [
        [
          {
            "node": "terminal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat": {
      "main": [
        [
          {
            "node": "killWatcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ia": {
      "main": [
        [
          {
            "node": "terminal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "terminal": {
      "main": [
        [
          {
            "node": "quequeContext",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ia1": {
      "main": [
        []
      ]
    },
    "error": {
      "main": [
        [
          {
            "node": "Respond to Chat3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "timeSavedPerExecution": 3,
    "errorWorkflow": "CY5uX8ardFkI9EhF"
  },
  "versionId": "988b4946-51a0-4331-b223-cc707c019064",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "61e1d8d77c41f5ba55f79c5e8b1b58bc806e2de256ae8078f33364e0c1ab6e47"
  },
  "id": "y7oJ93PDFYZ7vdiz",
  "tags": []
}