n8n/AUTOMA.json
{
  "name": "AUTOMA",
  "nodes": [
    {
      "parameters": {
        "command": "=CONTEXT_FILE=\"/data/gamegen/context\"\nDIR=\"/data/gamegen/context/queque\"\n\n# Crear la carpeta si no existe\nif [ ! -d \"$DIR\" ]; then\n    mkdir -p \"$DIR\"\nfi\n\n# Crear archivo con fecha y hora actual\nFILENAME=\"$(date '+%Y-%m-%d_%H-%M-%S')-$RANDOM.txt\"\n\n# Escribir directamente al archivo\ncat <<'EOF' > \"$DIR/$FILENAME\"\nINTRUCTION\n{{ JSON.parse($('ia').item.json.stdout).res.body }}\n\nRESULT\n{{ JSON.stringify($json) }}\nEOF\n\nDIR_RESUME=\"/data/gamegen/context/message\"\n# Crear la carpeta si no existe\nif [ ! -d \"$DIR_RESUME\" ]; then\n    mkdir -p \"$DIR_RESUME\"\nfi\n\necho \"iteration {{ $runIndex }}\"\necho \"\"\n\nfor archivo in \"$DIR_RESUME\"/*; do\n  # Verifica que sea un archivo (y no una subcarpeta)\n  if [ -f \"$archivo\" ]; then\n      cat \"$archivo\"\n      rm -f \"$archivo\"\n      echo \"\" # Imprime el salto de línea extra\n  fi\ndone\n\n\n\n"
      },
      "name": "quequeContext",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1120,
        160
      ],
      "id": "f63c0f3e-0144-4e4b-922e-819eb66a1db1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# Motor de IA\n### Se encarga de mantener vivo las consultas para la IA",
        "height": 368,
        "width": 3040,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1232,
        128
      ],
      "typeVersion": 1,
      "id": "3ef2bdd0-b197-4144-afab-ddff8c511264",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "\n# TODO:\n1 - continue\n2 - reset\n3 - new chat IA"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1568,
        144
      ],
      "typeVersion": 1,
      "id": "c1f600a6-0687-4a3f-97e7-2ac808f24883",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a0dab81f-ad8e-467a-8052-5237146c1056",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        176
      ],
      "id": "3e8e9ddf-2c49-443c-9e32-e9b9398a3591",
      "name": "If1"
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\n#set var\nsed -i '/export SESSION_ID=/d' ~/.bashrc\necho \"export SESSION_ID={{$('chat').item.json.sessionId}}\" >> ~/.bashrc\nsource ~/.bashrc\n\n# Lee los argumentos de n8n:\nPREV_NODE=\"{{ $prevNode.name }}\"\n\nif [ \"$PREV_NODE\" = \"initWatcher\" ]; then\n    INPUT_MESSAGE='{{ $('chat').item.json.chatInput }}'\nelse\n    INPUT_MESSAGE=$(cat <<'EOF'\n      {{(()=>{\n        try {return JSON.stringify($('terminal').item.json).replace(\"'\", \"\")}\n        catch {return \"\"}\n      })()}}\nEOF\n)\nfi\n\n# echo \"$PREV_NODE\"\n# echo \"$INPUT_MESSAGE\"\n\n# 1. Variables y Rutas\nPROMPT_FILE_PATH=\"/home/node/python/prompt.txt\"\nSHOULD_CONTINUE=\"true\"  # Por defecto, continuar\n\n# Creamos la carpeta si no existe\nmkdir -p \"$(dirname \"$PROMPT_FILE_PATH\")\"\n\n# 2. Detección de Palabra Clave y Asignación de Modo (Limpiar y Guardar)\n\n# Convertimos el mensaje a mayúsculas para la detección (usaremos grep -q para IF)\nUPPER_MESSAGE=$(echo \"$INPUT_MESSAGE\" | tr '[:lower:]' '[:upper:]')\nMODE=\"DEFAULT\"\n\n# Prioridad 1: FLOW_FINISH (Máxima prioridad)\nif echo \"$UPPER_MESSAGE\" | grep -q 'FLOW_FINISH'; then\n    MODE=\"FINISH\"\n    CLEAN_MESSAGE=\"\"\n    SHOULD_CONTINUE=\"false\"\n    \n    # Prioridad 2: FLOW_INITIAL\n    elif echo \"$UPPER_MESSAGE\" | grep -q 'FLOW_INITIAL'; then\n    MODE=\"INITIAL\"\n    # Quita la palabra clave del inicio del mensaje\n    CLEAN_MESSAGE=$(echo \"$INPUT_MESSAGE\" | sed -e 's/FLOW_INITIAL//i' -e 's/^[[:space:]]*//')\n    \n    # Prioridad 3: FLOW_CONTINUE\n    elif echo \"$UPPER_MESSAGE\" | grep -q 'FLOW_CONTINUE'; then\n    MODE=\"CONTINUE\"\n    # Quita la palabra clave del inicio del mensaje\n    CLEAN_MESSAGE=$(echo \"$INPUT_MESSAGE\" | sed -e 's/FLOW_CONTINUE//i' -e 's/^[[:space:]]*//')\n    \nelse\n    MODE=\"DEFAULT\"\n    CLEAN_MESSAGE=\"$INPUT_MESSAGE\"\nfi\n\n# 3. Lógica del Switch y Construcción del Prompt con Here Document\n\n# Usamos una variable para construir el contenido final del prompt.txt\nFINAL_PROMPT_CONTENT=\"\"\n\ncase \"$MODE\" in\n    \"INITIAL\")\n        # Concatena el archivo de contexto estático y el JSON de input.\n        read -r -d '' FINAL_PROMPT_CONTENT <<EOF_INITIAL\n$(cat /prompt/initial.txt)\n\n$CLEAN_MESSAGE\nEOF_INITIAL\n    ;;\n    \n    \"CONTINUE\")\n        # Concatena el archivo de contexto estático, el mensaje limpio y el JSON de input.\n        read -r -d '' FINAL_PROMPT_CONTENT <<EOF_CONTINUE\n$(cat \"/prompt/initial.txt\")\n\n$(cat \"/prompt/continue.txt\")\n\n$CLEAN_MESSAGE\nEOF_CONTINUE\n    ;;\n    \n    \"FINISH\")\n        # El comando FINISH no necesita un prompt complejo, pero lo crea para consistencia.\n        FINAL_PROMPT_CONTENT=\"[FIN DE FLUJO]. No se requiere respuesta. shouldContinue=false\"\n    ;;\n    \n    \"DEFAULT\")\n        # Concatena el mensaje original y el JSON de input.\n        read -r -d '' FINAL_PROMPT_CONTENT <<EOF_DEFAULT\n$CLEAN_MESSAGE\nEOF_DEFAULT\n    ;;\nesac\n\n# 4. Guardar el Prompt Final en prompt.txt\n# Usamos 'echo -e' para asegurar que los saltos de línea se interpreten correctamente.\necho \"$FINAL_PROMPT_CONTENT\" > \"$PROMPT_FILE_PATH\"\n\n# 5. Imprimir la SALIDA JSON MÍNIMA (SOLO EL BOOLEANO)\n# Esto es lo único que n8n recibirá para el nodo IF.\necho \"$SHOULD_CONTINUE\"\n# cat \"$PROMPT_FILE_PATH\""
      },
      "name": "terminal1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -128,
        176
      ],
      "id": "4edc3406-35af-415e-9e09-2719d331f9b5",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -608,
        176
      ],
      "id": "680e6b9d-551a-459e-bc13-e74a01c1442c",
      "name": "chat",
      "webhookId": "13e346db-a58c-4761-b613-3abd74cdf050"
    },
    {
      "parameters": {
        "message": "={{ $json.stdout }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        1600,
        160
      ],
      "id": "9d3acc79-c980-42c4-814f-7402bd69cf4a",
      "name": "Respond to Chat3",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\n\nQUEUE_DIR=\"/data/gamegen/context/queque\"\n\n# Esperar hasta que la carpeta esté vacía\nwhile true; do\n    # Cuenta los archivos dentro del directorio (0 = vacío)\n    if [ -d \"$QUEUE_DIR\" ]; then\n        count=$(ls -1 \"$QUEUE_DIR\" 2>/dev/null | wc -l)\n    else\n        # Si no existe, la creamos y la consideramos vacía\n        mkdir -p \"$QUEUE_DIR\"\n        count=0\n    fi\n\n    if [ \"$count\" -eq 0 ]; then\n        # La carpeta está vacía → continuar\n        break\n    fi\n\n    sleep 1\ndone\n\n\n# --- Lógica actual para consumir y borrar archivos ---\n\nDIR_RESUME=\"/data/gamegen/context/message\"\n\n# Crear la carpeta si no existe\nif [ ! -d \"$DIR_RESUME\" ]; then\n    mkdir -p \"$DIR_RESUME\"\nfi\n\nfor archivo in \"$DIR_RESUME\"/*; do\n  # Verifica que sea un archivo (y no una subcarpeta)\n  echo \"resume:\"\n  if [ -f \"$archivo\" ]; then\n      cat \"$archivo\"\n      rm -f \"$archivo\"\n      echo \"\" # Imprime el salto de línea extra\n  fi\ndone"
      },
      "name": "iaContext1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        464,
        352
      ],
      "id": "abd875c4-8ae5-4d0d-855d-3e929b4657b1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "message": "={{ $json.stdout }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        784,
        352
      ],
      "id": "57b0fcff-2858-43cc-8b77-d8f59d6c696f",
      "name": "Respond to Chat",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "={{`\ncd /home/node/python;\nSOCKET_HOST=host.docker.internal\nSOCKET_PORT=7345\n`}}\n\npython3 cli.py send"
      },
      "name": "ia",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        464,
        160
      ],
      "id": "bcf6608f-0712-43c8-855c-f00281193e7d",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "=#!/usr/bin/env bash\n\nDIR=\"/data/gamegen/context/queque\"\n\n# Crear la carpeta si no existe\nif [ ! -d \"$DIR\" ]; then\n    mkdir -p \"$DIR\"\nfi\n\n# Crear archivo con fecha y hora actual\nFILENAME=\"$(date '+%Y-%m-%d_%H-%M-%S').txt\"\n\n# Escribir directamente al archivo\ncat <<EOF > \"$DIR/$FILENAME\"\nFirst process instructions from flow automa generator:\n\"\"\"\n{{ $json.chatInput }}\n\"\"\"\nEOF\n\n\n# Init queue\n\nSCRIPT=\"/home/node/python/queue_watcher.py\"\n\nif pgrep -f \"python3 .*${SCRIPT}\" > /dev/null; then\n  echo \"queue_watcher.py ya está corriendo\"\n  exit 0\nfi\n\necho \"Iniciando queue_watcher.py en segundo plano...\"\nnohup python3 \"$SCRIPT\" > /home/node/python/queue_watcher.log 2>&1 &\n"
      },
      "name": "initWatcher",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -384,
        176
      ],
      "id": "59cfe97c-595c-41ff-99f7-e7a5de84bfed",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "=#!/usr/bin/env bash\n\nSCRIPT=\"/home/node/python/queue_watcher.py\"\n\nPIDS=$(pgrep -f \"python3 .*${SCRIPT}\")\n\nif [[ -z \"$PIDS\" ]]; then\n  echo \"queue_watcher.py no está corriendo\"\n  exit 0\nfi\n\necho \"Matando queue_watcher.py\"\necho \"PIDs: $PIDS\"\n\nkill $PIDS\nsleep 2\n\n# Fuerza si alguno sigue vivo\nkill -9 $PIDS 2>/dev/null || true\n\necho \"queue_watcher.py detenido\"\n"
      },
      "name": "killWatcher",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1120,
        352
      ],
      "id": "2be571e0-1511-446c-8a67-80025a86572c",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "=#!/usr/bin/env bash\n\nSCRIPT=\"/home/node/python/queue_watcher.py\"\n\nPIDS=$(pgrep -f \"python3 .*${SCRIPT}\")\n\nif [[ -z \"$PIDS\" ]]; then\n  echo \"queue_watcher.py no está corriendo\"\n  exit 0\nfi\n\necho \"Matando queue_watcher.py\"\necho \"PIDs: $PIDS\"\n\nkill $PIDS\nsleep 2\n\n# Fuerza si alguno sigue vivo\nkill -9 $PIDS 2>/dev/null || true\n\necho \"queue_watcher.py detenido\"\n"
      },
      "name": "killWatcher1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        464,
        544
      ],
      "id": "eb976ec6-8dad-4790-9cc4-7c7f770c05cf",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "=sleep 2;\nif [ \"{{$runIndex}}\" = \"15\" ]; then\n  echo \"echo FLOW_FINISH\"\nelse\n  echo \"echo hola_mundo\"\nfi"
      },
      "name": "ia1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        176,
        -112
      ],
      "id": "e938ae9d-1719-493d-8888-a0102734994d",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "={{ $json.stdout }}"
      },
      "name": "terminalTest",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        768,
        -80
      ],
      "id": "29e00a5c-e051-4ba3-9635-cc79b5c26476",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "={{(()=>{\n    const body = JSON.parse($json.stdout).res.body;\n\n    if (body === \"FLOW_FINISH\") {\n      return 'echo \"FLOW_FINISH\"'\n    } else {\n      return body\n    }\n})()}}"
      },
      "name": "terminal",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        784,
        160
      ],
      "id": "095cf57b-2db4-4302-b356-c27c3133c94f",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "quequeContext": {
      "main": [
        [
          {
            "node": "Respond to Chat3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "terminal1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "ia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "iaContext1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chat": {
      "main": [
        [
          {
            "node": "initWatcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat3": {
      "main": [
        [
          {
            "node": "terminal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iaContext1": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "initWatcher": {
      "main": [
        [
          {
            "node": "terminal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat": {
      "main": [
        [
          {
            "node": "killWatcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ia1": {
      "main": [
        []
      ]
    },
    "ia": {
      "main": [
        [
          {
            "node": "terminal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "terminalTest": {
      "main": [
        []
      ]
    },
    "terminal": {
      "main": [
        [
          {
            "node": "quequeContext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "01ff93f5-bc53-43b9-a77c-cb66d2e8bd81",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "61e1d8d77c41f5ba55f79c5e8b1b58bc806e2de256ae8078f33364e0c1ab6e47"
  },
  "id": "y7oJ93PDFYZ7vdiz",
  "tags": []
}